/* Estilos para la sección de la hero */
.hero {
  background-image: url('https://images7.alphacoders.com/362/362619.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  text-align: center;
  font-size: 48px;
  font-family: 'Helvetica Neue', sans-serif;
  letter-spacing: 2px;
  line-height: 1.5;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
  opacity: 0;
  animation: fadeIn 2s ease-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 100%);
  z-index: -1;
}

.hero-text {
  max-width: 800px;
  margin: 0 auto;
}

.hero h2 {
  font-size: 3rem;
}

.hero-text h1 {
  font-size: 4rem;
  margin-bottom: 1rem;
}

.hero-text p {
  font-size: 2rem;
  margin-bottom: 2rem;
}

/* Estilos para la sección de destinos */
.destinos {
  background-color: #f7f7f7;
  padding: 4rem 0;
}

.destinos h2 {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 2rem;
}

.destinos ul {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.destinos li {
  margin: 0 1rem;
  text-align: center;
}

.destinos a {
  text-decoration: none;
  color: #333;
}

.destino-img {
  width: 300px;
  height: 200px;
  object-fit: cover;
  margin-bottom: 1rem;
}

.destinos h3 {
  font-size: 2rem;
  margin-top: 0;
}

/* Estilos para la sección de hoteles recomendados */
.recomendados {
  padding: 4rem 0;
}

.recomendados h2 {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 2rem;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 2rem;
}

.card {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
}

.card:hover {
  transform: scale(1.05);
}

.card-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-text {
  padding: 1rem;
}

.card-text h3 {
  font-size: 2rem;
  margin-top: 0;
}

.card-text p {
  margin-bottom: 1rem;
}

.card-location {
  font-style: italic;
}

.card-price {
  font-weight: bold;
}

/* Estilos para la sección de comentarios */
.comentarios {
  padding: 4rem 0;
  background-color: #f7f7f7;
  }

  .comentarios h2 {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 2rem;
  }

  /* Estilos para cada comentario */
  .comentario {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  }

  .comentario img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-right: 1rem;
  border-radius: 50%; /* añadir borde redondeado a la imagen */
  }

  .contenido {
  flex: 1;
  }

  .comentario h3 {
  font-size: 2rem;
  margin-top: 0;
  color: #555; /* añadir color de fuente */
  }

  .comentario p {
  margin-top: 1rem;
  line-height: 1.4; /* añadir altura de línea para mejorar la legibilidad /
  font-size: 1.6rem; / aumentar tamaño de fuente para mejorar la legibilidad /
  color: #777; / añadir color de fuente */
  }

nav {
  background-color: #c3c9d8;
  box-shadow: 0px 0px 20px rgb(61, 58, 77);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
}

.btn {
  display: inline-block;
  padding: 12px 24px;
  border-radius: 30px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  background-color: #4b96e6;
  transition: background-color 0.3s ease;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.btn:hover {
  background-color: #0069d9;
}

.btn:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(0,123,255,0.5);
}

.btn:active {
  transform: translateY(1px);
  box-shadow: none;
}

.btn-primary {
  background-color: #007bff;
}

.btn-primary:hover {
  background-color: #0069d9;
}

.btn-primary:focus {
  box-shadow: 0 0 0 3px rgba(0,123,255,0.5);
}

.btn-primary:active {
  transform: translateY(1px);
  box-shadow: none;
}

a.btn{
  color: #fff;
}

a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #ffffff;
  transition: background-color 0.3s ease;
}

a:hover {
  background-color: #f5f5f5;
  border: #ffffff 1px solid;
  border-radius: 10px;
  box-shadow: 0 0 10px 2px #61636b;

}

a.active {
  background-color: rgba(255,255,255,0.5);
  color: #333;
}

body {
  background-color: #f2f2f2;
}

h1 {
  text-align: center;
  margin-top: 100px;
  font-size: 3rem;
  color: #ffffff;
}

h2 {
  text-align: center;
  margin-top: 100px;
  font-size: 2rem;
  color: #4d4c4c;
}

/*
  Estilos de my reservacion
*/
.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

h1, p {
  grid-column: 1 / span 4;
}

table {
  grid-column: 1 / span 4;
}

thead {
  background-color: #f2f2f2;
}

td, th {
  padding: 0.5rem;
  text-align: left;
}

tfoot td {
  text-align: right;
}

tfoot button {
  background-color: #8bc34a;
  color: #fff;
  border: none;
  padding: 0.5rem;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

tfoot button:hover {
  background-color: #689f38;
}

button {
  background-color: #039be5;
  color: #fff;
  border: none;
  padding: 0.5rem;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

button:hover {
  background-color: #0288d1;
}
